// Imports ====================================================================
@import "bootstrap";

// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,800,800i" !default;
@import url($web-font-path);

// Generic ======================================================================

body {
  padding-top: 5rem;
}

// Navbar ======================================================================

// Buttons =====================================================================

.btn {
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: .2s;
  transition-property: all;
  letter-spacing: 0.1em;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px
}

.btn:active {
  transform: scale3d(0.97, 0.97, 0.97);
}

[class*="btn-outline"] {
  box-shadow: none;
}

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================

