// Imports ====================================================================
@import 'bootstrap';

// Generic ======================================================================

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 5rem;
}

.bs-component {
  margin: 0 0 20px;
}

// Navbar ======================================================================

// Buttons =====================================================================

.btn {
  box-shadow: rgba(23, 43, 99, .26) 0 7px 42px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  transition-duration: .2s;
  transition-property: all;
}

.btn:active {
  transform: scale3d(.97, .97, .97);
}

[class*="btn-outline"] {
  box-shadow: none;
}

// Typography ==================================================================

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================

