# Security
# ----------------------
ftp-credentials.js
.htaccess

# Packages
# ----------------------
/node_modules
/bower_components
/dist

# Log Files
# ----------------------
*.log
.tmp
*~
*#
.DS_Store
.DS_STORE
.netbeans
nbproject
.idea
*.lock
